
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */