body
	{
		background-color: #303030;
		color: #ffffff;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		margin: 0 !important; /*ZERO marginesów, aby przeglądarka wiedziała, że jest to WAŻNE*/
	}
.wrapper
	{
		width: 100%;
		order: 2px solid yellow; /*uciąłem b i ta linijka jest martwa*/
	}

.header
	{
		width: 100%;	
		padding: 25px 0; /*to jest odstęp WEWNĄTRZ diva header w pionie po 25px a drugi parametr wyzerowany bo header jest na CAŁĄ szerokość witryny*/
		order: 1px solid #ffffff; /*uciąłem b i ta linijka jest martwa*/
	}
.logo
	{
		width: 470px;
		font-size: 53px;
		border: 1px solid #ffffff;
		margin-left: auto;
		margin-right: auto;	
	}
.nav
	{
		width: 100%;	
		padding: 10px 0; 
		background-color: #ff0000; /*MZ wstawiał kolor #c34f4f a ja CZERWIEŃ YouTube*/
		text-align: center; 
		border-top: 2px solid #751b1b;
		border-bottom: 2px solid #751b1b;
		height: 40px;
		order: 2px solid #ffffff; /*uciąłem b i ta linijka jest martwa*/
	}
.content
	{
		width: 1000px;
		min-height: 450px;
		margin-left: auto;
		margin-right: auto;	
		text-align: justify; 
		padding: 10px 15px;
		box-sizing: border-box;
		order: 2px solid pink; /*uciąłem b i ta linijka jest martwa*/		
	}
.socials
	{
		width: 100%;
		text-align: center; 
		background-color: #292929;		
	}
.socialdivs
	{
		width: 970px;
		margin-left: auto;
		margin-right: auto;			
		text-align: center; 
		background-color: #292929;		
	}
.fifa
	{
		width: 242px;
		height: 149px;
		display: block;
	}
.fifa:hover
	{
		background-color: #ffde17;
		color: #000000;	
	}
.fb
	{
		width: 242px;
		height: 149px;
	}
.fb:hover
	{
		background-color: #3b5998;
		color: #000000;	
	}
.yt
	{
		width: 242px;
		height: 149px;
	}
.yt:hover
	{
		background-color: #d94348;
		color: #000000;	
	}
.insta
	{
		width: 242px;
		height: 149px;
	}
.insta:hover
	{
		background-color: #8a3ab9;
		color: #000000;	
	}
a.sociallink
	{
		display: block;
		width: 242px;
		height: 149px;		
	}	
.footer
	{
		text-align: center; 
		padding: 20px; 	
		margin-left: auto;
		margin-right: auto;	
		background-color: #222222;
	}
.sticky
	{
		width: 100%;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 100;
	}
ol
	{
		padding: 0;
		margin: 0;
		list-style-type: none;
		font-size: 20px;
		height: 35px;
		line-height: 200%;
		display: inline-block;
	}
ol a
	{
		color: #ffffff;
		text-decoration: none;
		display: block;
	}
ol > li
	{
		float: left;
		width: 150px;
		height: 40px;
		border-right: 2px dashed #751b1b;
	}			
ol > li:first-child
	{
		border-left: 2px dashed #751b1b;
	}		
ol > li:hover
	{
		background-color: #ff4444;
	}		
ol > li:hover > a
	{
		color: #751b1b;
	}		
ol > li > ul	
	{
		padding: 0;
		margin: 0;
		list-style-type: none;
		height: 40px;
		display: none; /*to odpowiada za "zniknięcie rozwijanego menu", które wpisujemy na sztywno*/
	}
ol > li:hover > ul /*ta sekcja odpowiada za POKAZYWANIE się rozwijanego menu - jako opcja listy potomka "ul" tegoż najechanego "li"*/ 
	{
		display: block;
	}		
ol > li > ul	> li
	{
		background-color: #ff4444;
		position: relative;
		z-index: 100;
		border-top: 2px dashed #751b1b;
	}
ol > li > ul	> li:hover
	{
		background-color: #ff0000; /*ten kolor w sumie można zlikwidować bo komórka wyróżnia się i tak czcionką - kwestia gustu*/
	}
ol > li > ul	> li:hover > a
	{
		color: #751b1b;
	}
a:link
	{
		color: white;
		text-decoration: none;
	}
a:visited
	{
		color: white;
		text-decoration: none;
	}
